.wrapper {
	height: 50px;
	border-bottom: 1px solid grey;
	width: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.input {
	margin-right: 5px;
}

.done {
	text-decoration: line-through;
	color: gray;
}